
.msSearchIcon {
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    speak: none;
    font-family: controlIcons;
}

.fa {
    padding-right: 10px;
}



.borderalt {
    margin-bottom: 20px;
    padding-bottom: 20px;
}



h2 {
    padding: 10px;
    background: var(--themePrimary);
    color: #fff !important;
    font-weight: 300
}

.label {
    border: 1px solid var(--themePrimary);
    border-radius: 0;
    background: #fff;
    color: var(--themePrimary) !important;
}

span.sozlesmeindir {
    color: #fff !important;
}

.CommentHead {
    background: var(--themePrimary);
    color: #fff;
    padding: 10px;
    margin-bottom: 30px;
    font-size: 20px;
    clear:both;
}

.Secilen, .CurrentClaim, .CurrentBid {
    color: var(--themePrimary);
    background-color: var(--themeLighterAlt);
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: none !important;
}

.Secilen > td > .fa {
    color: #000 !important;
}

.pad0 {
    padding: 0px !important;
}
