  


.DqR_QI9wxI9eR6VFTBDcQ {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 30px;
    flex: 1 1 30px;
    position: relative
}

html[dir] .DqR_QI9wxI9eR6VFTBDcQ {
    padding-bottom: 2px
}

._1Qs0_GHrFMawJzYAmLNL2x {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 400;
    width: 100%
}

html[dir] ._1Qs0_GHrFMawJzYAmLNL2x {
    background: 0 0;
    border: 0
}



._3WHacxy3jm55FX7LXtoTbT {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    overflow: hidden;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--headerSearchBoxIcon);
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 16px;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 44px
}

._3w0I3IfXZt11NrlI4Rtops {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 32px;
    -ms-flex-item-align: center;
    align-self: center
}

html[dir=ltr] ._3w0I3IfXZt11NrlI4Rtops {
    margin-right: 16px
}

html[dir=rtl] ._3w0I3IfXZt11NrlI4Rtops {
    margin-left: 16px
}

._1IASxdr5glbGM5ZXvqT4EN {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    overflow: hidden;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 32px;
    width: 100%
}

html[dir] ._1IASxdr5glbGM5ZXvqT4EN {
    border-radius: 2px
}

@media screen and (-ms-high-contrast:active) {
    html[dir] ._1IASxdr5glbGM5ZXvqT4EN {
        border: 1px solid var(--neutralLight)
    }
}

._1B1INwx9bCktow-2kkawjV {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto
}

._3pB3B8SOyfUABGIvVa4Yof {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    overflow: hidden;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

html[dir] ._3pB3B8SOyfUABGIvVa4Yof {
    background: var(--headerSearchBoxBackground)
}

._5j-xjOS68WJ1zbIJWTFG7 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    overflow: hidden;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

html[dir=ltr] ._5j-xjOS68WJ1zbIJWTFG7 {
    margin-right: 12px
}

html[dir=rtl] ._5j-xjOS68WJ1zbIJWTFG7 {
    margin-left: 12px
}

._3ioEp2RGR5vb0gqRDsaFPa {
    width: 48px;
    height: 48px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    color: var(--headerTextIcons);
    position: relative
}

html[dir] ._3ioEp2RGR5vb0gqRDsaFPa {
    background: var(--headerButtonsBackground);
    border-radius: 0
}

._3ioEp2RGR5vb0gqRDsaFPa ._1euZDO_V1bY8yM5-2Mq_8G, ._3ioEp2RGR5vb0gqRDsaFPa ._2Am2jvTaBz17UJ8XnfxFOy {
    font-size: 16px
}

._3ioEp2RGR5vb0gqRDsaFPa ._2Am2jvTaBz17UJ8XnfxFOy {
    display: none
}

html[dir] ._3ioEp2RGR5vb0gqRDsaFPa:focus, html[dir] ._3ioEp2RGR5vb0gqRDsaFPa:hover {
    background: var(--headerButtonsBackgroundHover)
}

._3ioEp2RGR5vb0gqRDsaFPa:focus {
    outline: 1px solid;
    outline-offset: -1px
}

._3ioEp2RGR5vb0gqRDsaFPa ._1euZDO_V1bY8yM5-2Mq_8G {
    display: none
}

._1OZnCzuag9qeLbDDVQFHd8 {
    width: 100%;
    height: 50px;
    display: flex;
    border-spacing: 0;
    white-space: nowrap;
    line-height: normal
}

    ._1OZnCzuag9qeLbDDVQFHd8 ._6EkCIBulssv0eDQ55G3yH {
        vertical-align: top
    }

.removeFocusOutline :focus {
    outline: 0
}

._2-4jfRBkDLE1Xuu-op_VA2 {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    min-width: 48px;
    text-align: center;
    cursor: pointer;
    outline-offset: -1px
}

    ._2-4jfRBkDLE1Xuu-op_VA2:hover {
        -webkit-transition: background-color .467s cubic-bezier(.1,.9,.2,1) 34ms;
        transition: background-color .467s cubic-bezier(.1,.9,.2,1) 34ms
    }

._2-4jfRBkDLE1Xuu-op_VA2 {
    background: 0 0;
    border-width: 0;
    width: auto;
    height: 100%;
    box-sizing: border-box;
    overflow: visible
}

    ._2-4jfRBkDLE1Xuu-op_VA2, ._2-4jfRBkDLE1Xuu-op_VA2 span[class*=" ms-Icon--"], ._2-4jfRBkDLE1Xuu-op_VA2 span[class^=ms-Icon--] {
        line-height: 48px
    }

._6EkCIBulssv0eDQ55G3yH {
    display: inline-block;
    font-weight: 600;
    font-family: SegoeUI-SemiBold-final,Segoe UI Semibold,SegoeUI-Regular-final,Segoe UI,"Segoe UI Web (West European)",Segoe,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Tahoma,Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 48px;
    -webkit-font-smoothing: antialiased
}

.m_YdpO5_33Q22e4K9wQQN {
    height: 100%;
    display: flex;
    vertical-align: middle;
    outline-offset: -1px;
    padding: 0 12px 0 8px;
    text-decoration: none
}

    .m_YdpO5_33Q22e4K9wQQN a {
        display: flex;
        text-decoration: none;
        color: inherit
    }

html[dir=rtl] .m_YdpO5_33Q22e4K9wQQN {
    padding: 0 8px 0 12px
}

@media (min-width:640px) {
    ._3BTGLBHOWIlEPYjHpiX4Jl {
        max-width: 176px;
        text-decoration: none
    }
}

._3Lb2vsW2ownHe7x4OC6xKn {
    height: 100%;
    max-width: 176px;
    display: table
}

._3T845fg-MFrzJz6PkME674 {
    text-align: right;
    vertical-align: middle;
    display: table-cell;
    overflow: hidden;
    max-width: 120px;
    font-size: 14px;
    font-family: SegoeUI-SemiLight-final,Segoe UI Semilight,SegoeUI-Regular-final,Segoe UI,"Segoe UI Web (West European)",Segoe,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Tahoma,Helvetica,Arial,sans-serif;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
    margin-left: 4px
}

    ._3T845fg-MFrzJz6PkME674 > span {
        padding-left: 4px;
        display: none
    }

html[dir=rtl] ._3T845fg-MFrzJz6PkME674 {
    text-align: left
}

    html[dir=rtl] ._3T845fg-MFrzJz6PkME674 > span {
        padding-left: 0;
        padding-right: 4px
    }

._3a2rsMtCznztS3xhL4DybP {
    display: table-cell;
    border-left-width: 0 !important;
    vertical-align: middle
}

html[dir=rtl] ._3a2rsMtCznztS3xhL4DybP {
    border-right-width: 0 !important
}

.bFOkb2fz3s9MR3PfzJZds {
    overflow: hidden;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    font-size: 6px
}

._3HfJrncG7qGAlx5NhCMQhh {
    overflow: hidden;
    display: inline-block;
    border: thin solid #fff;
    border-radius: 50%;
    vertical-align: middle;
    font-size: 6px
}

._3mRfh0G7CerR_KRsABKXYF {
    border-radius: 50%;
    line-height: 1 !important
}

    ._3mRfh0G7CerR_KRsABKXYF:before {
        margin-top: .4em
    }

._3HfJrncG7qGAlx5NhCMQhh, ._3mRfh0G7CerR_KRsABKXYF, .bFOkb2fz3s9MR3PfzJZds {
    width: 32px;
    height: 32px
}

.WXgeHrfPJlbqwaXD-uW4z {
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%
}

._3G0mO7NbUYsJz6Y-_hDeg {
    display: flex;
    flex: 1 0 auto;
    height: 100%
}

._3dI0ki9xB1drDG0Vs1vrS {
    display: flex;
    flex: 0 0 auto
}

._26VD_pe1GeiveQieoZ7ZgV {
    height: 100%;
    line-height: 48px;
    display: flex
}

@-moz-document url-prefix() {
    ._2-4jfRBkDLE1Xuu-op_VA2:focus {
        outline: 1px dotted
    }
}



.gz3Kx7T9vlYJGi-2BSnXs {
    height: 100%;
    line-height: 48px;
    display: flex
}

.wfFdvWFDB5g8R2lHFkXD1 {
    height: 48px;
    display: flex
}

._3G91_NL3NSqKUY1T54ewS8 {
    display: inherit;
    flex: inherit;
    justify-content: inherit;
    order: inherit;
    align-self: inherit;
    min-width: inherit
}
.root-61 {
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    speak: none;
    font-family: controlIcons;
}
._3WHacxy3jm55FX7LXtoTbT, ._3OXD24zi--NRNzhEiiUbDf, ._1pJKwDVgnVvtTYbSPBYHUf {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    overflow: hidden;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--headerSearchBoxIcon);
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 16px;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 44px;
}
._3pB3B8SOyfUABGIvVa4Yof {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    overflow: hidden;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
._1Qs0_GHrFMawJzYAmLNL2x{
    border:0px !important;
}
.gz3Kx7T9vlYJGi-2BSnXs {
    height: 100%;
    line-height: 48px;
    display: flex
}

.Vt2yXYjLd41h3p9M6SAal {
    height: 100%;
    line-height: 50px;
    display: flex
}

.wfFdvWFDB5g8R2lHFkXD1 {
    height: 48px;
    display: flex
}

.Vxs5wcvvPYMG2qN6J1HTT {
    height: 50px;
    display: flex
}

._3G91_NL3NSqKUY1T54ewS8 {
    display: inherit;
    flex: inherit;
    justify-content: inherit;
    order: inherit;
    align-self: inherit;
    min-width: inherit
}
html[dir] ._3pB3B8SOyfUABGIvVa4Yof {
    background: var(--headerSearchBoxBackground);
}
._3pB3B8SOyfUABGIvVa4Yof{
    background:#fff
}


._3pB3B8SOyfUABGIvVa4Yof {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    overflow: hidden;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
html[dir] ._1IASxdr5glbGM5ZXvqT4EN {
    border-radius: 2px;
}

 
._1IASxdr5glbGM5ZXvqT4EN {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    overflow: hidden;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 32px;
    width: 100%;
}