
.dtarih{
  font-size:14px;
   


}
 




.isleniyor{


    background:url("yukleme.gif");
    background-repeat:no-repeat;
     background-position-x: center;
     background-position-y:center;
     background-color:white;
        
}

.islemebitti{

    background-color:none;
}

.secme{


    -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#resimdondurme {
    width: 200px !important;
    margin: 0 auto;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    background-color: white;
    color: black;
   
}

#fotoikon {
    width: 40px;
    float: left;
    padding-right: 10px;
    margin-top: 10px;
}

.panel-heading, .panel-footer {
    background-color: none !important;
    background: none !important;
}



.panel-dark-head .panel-heading {
    background: none !important;
    color: black !important;
}



#dosyaadikopya .sildosyasec {
    display: none !important;
}

#suruklebirak {
    min-height: 300px;
}

.klasorust {
    color: black !important;
    text-align: center;
}

.menu li:last-child, .menu li:last-child:hover {
    border: 0px !important;
    outline: 0px !important;
}

.secilisayiaktif {
    padding: 5px;
    color: white;
}

input[type=checkbox]:focus {
    outline: 0px !important;
}

.menu {
    cursor: pointer;
}

.nav > li.active > a {
    background-color: #2196F3 !important;
}

.menuana > .fa:before {
    margin-right: 5px;
}

.resimshow {
    opacity: 0.8;
    cursor: pointer;
    width: 100%;
    word-break: break-word;
    margin-bottom: 10px;
    text-align: center;
}

#secilisayi, .klasoradi, .resimolcusu {
    cursor: pointer;
}

.resimbaslik, .dosyabaslik {
    background-color: #0078d4;
    color: #fff;
    padding-right: 0px !important;
    margin-right: 0px !important;
    cursor: pointer;
    margin-bottom:10px;
}

.bos {
    background-image: url('bos.svg');
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    min-height: 300px !important;
    text-align: center;
    background-position: 50%;
}

.bosyazi {
    text-align: center;
}

#firmalinkislemler {
    padding-right: 0px !important;
    margin: 0px !important;
}

#dosyagenislik {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.dropdwn {
    height: 30px;
    padding: 5px;
}

.kalin {
    font-weight: bold;
}

ul.sira li a {
    font-size: 12px !important;
}

ul.sira li.active {
    padding: 0 !important;
}

.nav-pills > li.active > a {
    font-size: 12px !important;
}

.modal-content {
    background-color: #fff !important;
}

#box {
    width: 100px;
    height: 80px;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
}

.kapsar {
    width: 100%;
    text-align: center;
    background: url("dosyasec.PNG");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    margin-bottom: 2px !important;
    color: white;
}

.imageSelectorContainer {
    text-align: center;
}

.imagePreviewTable img {
    display: none;
}

input[type="file"] {
    text-align: center !important;
}

#ResimSec {
    padding: 10px;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}



.dis {
    position: absolute;
    height: 500px !important;
    display: block;
    width: 100%;
}

.dikey {
    padding: 20px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.pasif {
    background-color: whitesmoke !important;
}

.deneme {
    color: black !important;
}

.dosya {
    width: 35px !important;
}

.klasor, .fakeklasor {
    width: 100%;
    height: 50px;
    background-image: url("folder.svg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    margin-bottom: 10px;
    font-size: 12px !important;
    cursor: pointer;
    background-position: 50%;
}

.klasoradi {
    padding-bottom: 10px !important;
    display: block;
    font-size: 12px !important;
    word-break: break-all;
    word-spacing: initial;
}

.klasorust {
    height: 124px;
    border: 1px solid #fff4f4;
}

    .klasorust:hover {
        background: #fff !important;
        outline: 2px solid #fc0 !important;
    }

.dikkatklasor {
    background: #fff !important;
    outline: 2px solid #fc0 !important;
}

.menuana {
    list-style: none;
    margin: 0;
    padding: 0;
}

    .menuana li {
        margin-left: 2px;
        float: left;
        display: inline-block;
        border-radius: 2px !important;
        padding: 5px;
        color: white;
        line-height: 30px;
        font-size: 16px;
    }

        .menuana li:last-child {
            border-right: 0px solid white !important;
        }

        .menuana li:hover {
        }


.dosyalist {
    outline: 1px solid #f7eeee;
    margin-bottom: 2px;
    padding: 4px !important;
    height: 60px;
    color: black !important;
    margin-top: 2px;
    display: block;
    word-wrap: hyphenate;
    font-size: 12px !important;
}



    .dosyalist:hover {
        outline: 2px solid #fc0;
    }

.resimdiv {
     padding-top: 10px;
    height: 280px;
}

    .resimdiv:hover {
        outline: 1px solid #fc0 !important;
    }

.resimolcusu:hover {
}



.resimolcusu {
    background-position-y: 50%;
    background-position-x: 50%;
    display: block;
    height: 200px;
    padding-left: 0px;
    padding-bottom: 0px;
    width: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
    background-size: cover;
}

.resimislem {
    height: 30px;
    width: 100%;
    line-height: 24px;
    opacity: 0.8;
}


.dosyalistmobil {
    margin-bottom: 2px;
    padding: 4px !important;
    height: 100px;
    color: black !important;
    margin-top: 2px;
    display: block;
    border: 1px solid #fc0 !important;
    margin-right: 3px;
}


.klasorsecildi {
    background: #fff !important;
    outline: 1px solid #fc0 !important;
}

.dosyasecildi {
    background: #fff !important;
    outline: 1px solid #fc0 !important;
}


.resimsecildi {
    outline: 2px solid #fc0 !important;
}



.menu2 {
    list-style-image: url('folder.svg');
    display: block;
    float: left;
    width: 100% !important;
    background-color: #fff;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    cursor:pointer;
}

    .menu2 li {
        height: 25px;
        line-height: 25px;
        color: #000;
        float: left;
        list-style-position: inside;
        padding: 0;
        margin: 0;
        padding-left: 10px;
        padding-right: 10px;
    }



#dosyalarpanel {
    padding: 15px !important;
}

.dosyabilgisi {
    height: 60px;
    line-height: 40px;
    text-align: right;
    padding-right: 20px;
}

.download {
    height: 25px;
    width: 25px;
}

.eye {
    height: 25px;
    width: 25px;
}

.dosyabilgisi img:hover {
    width: 30px;
    height: 30px;
}

body {
}

.silbtn {
    z-index: 90;
}



.silsec {
    width: 28px;
    height: 28px;
    position: relative;
    margin: 20px auto;
    background: #fcfff4;
}

nav > li .active {
    background-color: #4e5154 !important;
}

.boslukyok {
    margin: 0 !important;
    padding: 0 !important;
}

#dosyaadikopya .dosyabilgisi {
    opacity: 0;
}

#resimonizleme {
    background: url("yukleme.gif");
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-position: 50%;
}

.sildosyasec {
}

    .sildosyasec:checked:before {
        top: 10px !important;
        left: 20px !important;
    }

#sil, #dosyaekle, #yeniklasor,#secme,#kontrolculer {
    cursor: pointer;
    -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul.menuana > li > span.fa:before {
    margin-right: 5px;
}

#resimisim {
    position: fixed;
    z-index: 1008;
    top: 0;
    width: 100%;
    color: #fff;
    background-color: #0078d4;
    left: 0px;
    display: none;
    opacity: 1;
   
}

    #resimisim:hover {
        opacity: 1;
    }

    .islemgrup{
        display:none;
    }


@media (max-width:768px) {

    .resimbaslik, .dosyabaslik {
        text-align: center;
        padding: 1px !important;
    }
    #slaytkapat{

        display:none;
    }

     #mobilkapatslayt{

        display:block;
     }




    .menuana {
        padding-left: 10px;
    }
}
@media (min-width:768px) {

    
    #mobilkapatslayt{

        display:none;
    }
       #slaytkapat{

        display:block;
    }
     
}