 
html[dir] .bfmOrcHQ8InJjhHaidhb- {
    background: var(--white)
}

.bfmOrcHQ8InJjhHaidhb- > * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

._2MIkiznpJrB4R_NVpX10RE {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 220px;
    height: 100%;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-color: var(--neutralTertiaryAlt) transparent;
    scrollbar-width: thin
}

html[dir] ._2MIkiznpJrB4R_NVpX10RE {
    padding-top: 17px;
    background-color: var(--neutralLighter)
}

html[dir=ltr] ._2MIkiznpJrB4R_NVpX10RE {
    border-right: 1px solid var(--neutralLight)
}

html[dir] ._2MIkiznpJrB4R_NVpX10RE::-webkit-scrollbar-button:horizontal:increment {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAABlBMVEXM09b///8OmaLeAAAAAnRSTlP/AOW3MEoAAAAgSURBVHgBY2BEA+QLMGAIMGAIMGAIMBAUIGQoZU5HAwB+ZgDtGYq3fgAAAABJRU5ErkJggg==)
}

    html[dir] ._2MIkiznpJrB4R_NVpX10RE::-webkit-scrollbar-button:horizontal:increment:hover {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAABlBMVEWdtMT///8YSU3FAAAAAnRSTlP/AOW3MEoAAAAgSURBVHgBY2BEA+QLMGAIMGAIMGAIMBAUIGQoZU5HAwB+ZgDtGYq3fgAAAABJRU5ErkJggg==)
    }

html[dir] ._2MIkiznpJrB4R_NVpX10RE::-webkit-scrollbar-button:horizontal:decrement {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAABlBMVEXM09b///8OmaLeAAAAAnRSTlP/AOW3MEoAAAAiSURBVHgBY2BEAxQJMKAJMKAJMKAJMOATgIkQMBTBooZfAH56AO2yINTrAAAAAElFTkSuQmCC)
}

    html[dir] ._2MIkiznpJrB4R_NVpX10RE::-webkit-scrollbar-button:horizontal:decrement:hover {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAABlBMVEWdtMT///8YSU3FAAAAAnRSTlP/AOW3MEoAAAAiSURBVHgBY2BEAxQJMKAJMKAJMKAJMOATgIkQMBTBooZfAH56AO2yINTrAAAAAElFTkSuQmCC)
    }

html[dir] ._2MIkiznpJrB4R_NVpX10RE::-webkit-scrollbar-button:vertical:increment {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAABlBMVEXM09b///8OmaLeAAAAAnRSTlP/AOW3MEoAAAAfSURBVHgBY2BEA7QTYIAChAoYH6EFxkeYwQBj0MelAH3GAO2C9+AaAAAAAElFTkSuQmCC)
}

    html[dir] ._2MIkiznpJrB4R_NVpX10RE::-webkit-scrollbar-button:vertical:increment:hover {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAABlBMVEWdtMT///8YSU3FAAAAAnRSTlP/AOW3MEoAAAAfSURBVHgBY2BEA7QTYIAChAoYH6EFxkeYwQBj0MelAH3GAO2C9+AaAAAAAElFTkSuQmCC)
    }

html[dir] ._2MIkiznpJrB4R_NVpX10RE::-webkit-scrollbar-button:vertical:decrement {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAABlBMVEXM09b///8OmaLeAAAAAnRSTlP/AOW3MEoAAAAgSURBVHgBY2BEAzQVYIAzYHwGGAvOZ4AyIXyECH1cCgB/GgDtpWTgqAAAAABJRU5ErkJggg==)
}

    html[dir] ._2MIkiznpJrB4R_NVpX10RE::-webkit-scrollbar-button:vertical:decrement:hover {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAABlBMVEWdtMT///8YSU3FAAAAAnRSTlP/AOW3MEoAAAAgSURBVHgBY2BEAzQVYIAzYHwGGAvOZ4AyIXyECH1cCgB/GgDtpWTgqAAAAABJRU5ErkJggg==)
    }

._2MIkiznpJrB4R_NVpX10RE::-webkit-scrollbar {
    height: 18px;
    width: 18px
}

    ._2MIkiznpJrB4R_NVpX10RE::-webkit-scrollbar:disabled {
        display: none
    }

._2MIkiznpJrB4R_NVpX10RE::-webkit-scrollbar-button, ._2MIkiznpJrB4R_NVpX10RE::-webkit-scrollbar-corner {
    cursor: pointer
}

html[dir] ._2MIkiznpJrB4R_NVpX10RE::-webkit-scrollbar-button, html[dir] ._2MIkiznpJrB4R_NVpX10RE::-webkit-scrollbar-corner {
    background: 0 0
}

._2MIkiznpJrB4R_NVpX10RE::-webkit-scrollbar-button:horizontal:decrement, ._2MIkiznpJrB4R_NVpX10RE::-webkit-scrollbar-button:horizontal:decrement:hover, ._2MIkiznpJrB4R_NVpX10RE::-webkit-scrollbar-button:horizontal:increment, ._2MIkiznpJrB4R_NVpX10RE::-webkit-scrollbar-button:horizontal:increment:hover, ._2MIkiznpJrB4R_NVpX10RE::-webkit-scrollbar-button:vertical:decrement, ._2MIkiznpJrB4R_NVpX10RE::-webkit-scrollbar-button:vertical:decrement:hover, ._2MIkiznpJrB4R_NVpX10RE::-webkit-scrollbar-button:vertical:increment, ._2MIkiznpJrB4R_NVpX10RE::-webkit-scrollbar-button:vertical:increment:hover {
    height: 18px;
    width: 18px
}

html[dir] ._2MIkiznpJrB4R_NVpX10RE::-webkit-scrollbar-button:horizontal:decrement, html[dir] ._2MIkiznpJrB4R_NVpX10RE::-webkit-scrollbar-button:horizontal:decrement:hover, html[dir] ._2MIkiznpJrB4R_NVpX10RE::-webkit-scrollbar-button:horizontal:increment, html[dir] ._2MIkiznpJrB4R_NVpX10RE::-webkit-scrollbar-button:horizontal:increment:hover, html[dir] ._2MIkiznpJrB4R_NVpX10RE::-webkit-scrollbar-button:vertical:decrement, html[dir] ._2MIkiznpJrB4R_NVpX10RE::-webkit-scrollbar-button:vertical:decrement:hover, html[dir] ._2MIkiznpJrB4R_NVpX10RE::-webkit-scrollbar-button:vertical:increment, html[dir] ._2MIkiznpJrB4R_NVpX10RE::-webkit-scrollbar-button:vertical:increment:hover {
    background-position: 50%
}

html[dir] ._2MIkiznpJrB4R_NVpX10RE::-webkit-scrollbar-track {
    background: 0 0
}

html[dir] ._2MIkiznpJrB4R_NVpX10RE::-webkit-scrollbar-thumb, html[dir] ._2MIkiznpJrB4R_NVpX10RE::-webkit-scrollbar-thumb:hover {
    border-radius: 9px;
    border: solid 6px transparent;
    background-clip: content-box
}

html[dir] ._2MIkiznpJrB4R_NVpX10RE::-webkit-scrollbar-thumb {
    background-color: var(--neutralTertiaryAlt)
}

    html[dir] ._2MIkiznpJrB4R_NVpX10RE::-webkit-scrollbar-thumb:hover {
        background-color: #98a3a6
    }

._2MIkiznpJrB4R_NVpX10RE::-webkit-scrollbar-thumb:vertical {
    min-height: 50px
}

._2MIkiznpJrB4R_NVpX10RE::-webkit-scrollbar-thumb:horizontal {
    min-width: 50px
}

._2MIkiznpJrB4R_NVpX10RE ._1ksD4iOWLNwF5A8VnoknIO {
    font-size: 21px;
    font-weight: 100;
    font-weight: 600
}

html[dir] ._2MIkiznpJrB4R_NVpX10RE ._1ksD4iOWLNwF5A8VnoknIO {
    margin: 0 20px
}

html[dir] ._2MIkiznpJrB4R_NVpX10RE .Q6ghBO-sC0Kxs8drlI-SR {
    margin: 15px 20px 12px 20px;
    background: var(--white)
}

._2MIkiznpJrB4R_NVpX10RE ._3vq4lJQg9EQ9QnW_2iLCJo {
    height: 36px;
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    cursor: pointer
}

html[dir] ._2MIkiznpJrB4R_NVpX10RE ._3vq4lJQg9EQ9QnW_2iLCJo {
    background: 0 0
}

._2MIkiznpJrB4R_NVpX10RE ._3vq4lJQg9EQ9QnW_2iLCJo:focus, ._2MIkiznpJrB4R_NVpX10RE ._3vq4lJQg9EQ9QnW_2iLCJo:hover {
    color: var(--black)
}

html[dir] ._2MIkiznpJrB4R_NVpX10RE ._3vq4lJQg9EQ9QnW_2iLCJo:focus, html[dir] ._2MIkiznpJrB4R_NVpX10RE ._3vq4lJQg9EQ9QnW_2iLCJo:hover {
    background-color: var(--neutralLight)
}

._2MIkiznpJrB4R_NVpX10RE ._3vq4lJQg9EQ9QnW_2iLCJo._1ho5MatjY27nlEmceTwFTs, ._2MIkiznpJrB4R_NVpX10RE ._3vq4lJQg9EQ9QnW_2iLCJo:active {
    color: var(--themeDark);
    font-weight: 600
}

html[dir] ._2MIkiznpJrB4R_NVpX10RE ._3vq4lJQg9EQ9QnW_2iLCJo._1ho5MatjY27nlEmceTwFTs, html[dir] ._2MIkiznpJrB4R_NVpX10RE ._3vq4lJQg9EQ9QnW_2iLCJo:active {
    background-color: var(--themeLight)
}

._2MIkiznpJrB4R_NVpX10RE ._3vq4lJQg9EQ9QnW_2iLCJo .zOdHebL90cSoSs2QLDxUa {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.padd0 {
    padding: 0px !important;
}

.Yarn {
    height: 30px;
    margin-bottom: 10px;
}

.ms-Button {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-shadow: none;
    font-family: Segoe UI WestEuropean,Segoe UI,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    background-color: #f4f4f4;
    border: 1px solid #f4f4f4;
    cursor: pointer;
    display: inline-block;
    height: 32px;
    min-width: 80px;
    padding: 4px 20px 6px
}

    .ms-Button.is-hidden {
        display: none
    }

    .ms-Button:hover {
        background-color: #eaeaea;
        border-color: #eaeaea
    }

        .ms-Button:hover .ms-Button-label {
            color: #000
        }

@media screen and (-ms-high-contrast:active) {
    .ms-Button:hover {
        color: #1aebff;
        border-color: #1aebff
    }
}

@media screen and (-ms-high-contrast:black-on-white) {
    .ms-Button:hover {
        color: #37006e;
        border-color: #37006e
    }
}

.ms-Button:focus {
    background-color: #eaeaea;
    border-color: #0078d7;
    outline: 1px solid transparent
}

    .ms-Button:focus .ms-Button-label {
        color: #000
    }

.ms-Button:active {
    background-color: #0078d7;
    border-color: #0078d7
}


.ms-Button.ms-Button--primary {
    background-color: #0078d7;
    border-color: #0078d7
}

    .ms-Button.ms-Button--primary .ms-Button-label {
        color: #fff
    }

    .ms-Button.ms-Button--primary:hover {
        background-color: #005a9e;
        border-color: #005a9e
    }

    .ms-Button.ms-Button--primary:focus {
        background-color: #005a9e;
        border-color: #004578
    }

    .ms-Button.ms-Button--primary:active {
        background-color: #0078d7;
        border-color: #0078d7
    }

    .ms-Button.ms-Button--primary.is-disabled, .ms-Button.ms-Button--primary:disabled {
        background-color: #f4f4f4;
        border-color: #f4f4f4
    }

        .ms-Button.ms-Button--primary.is-disabled .ms-Button-label, .ms-Button.ms-Button--primary:disabled .ms-Button-label {
            color: #a6a6a6
        }

html[dir=ltr] ._3lJzI_VToaOehnnyz3fimI {
    margin-right: 16px;
}

html[dir] ._3lJzI_VToaOehnnyz3fimI {
    border-radius: 50%;
    background-color: var(--themePrimary);
    color: #fff;
}


._3lJzI_VToaOehnnyz3fimI {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 32px;
    height: 32px;
    font-size: 16px;
    color: var(--neutralPrimary);
    float: right;
}

._2MIkiznpJrB4R_NVpX10RE ._3vq4lJQg9EQ9QnW_2iLCJo .Rr8M3cOmZk_MdD88acSRN {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
    -ms-flex-preferred-size: 14px;
    flex-basis: 14px;
    color: inherit
}

html[dir=ltr] ._2MIkiznpJrB4R_NVpX10RE ._3vq4lJQg9EQ9QnW_2iLCJo .Rr8M3cOmZk_MdD88acSRN {
    margin-left: 20px;
    margin-right: 12px
}

._2MIkiznpJrB4R_NVpX10RE ._2ePB0mOUJRksZ0loJV8Qrr {
    color: var(--themeDark);
    max-width: calc(100% - 50px)
}

html[dir=ltr] ._2MIkiznpJrB4R_NVpX10RE ._2ePB0mOUJRksZ0loJV8Qrr {
    margin-right: 20px;
    margin-left: 50px;
    text-align: left
}

._37VJmYfdtY0W1KUmCaJ4B7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 200px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    text-overflow: ellipsis;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-color: var(--neutralTertiaryAlt) transparent;
    scrollbar-width: thin
}

html[dir] ._37VJmYfdtY0W1KUmCaJ4B7 {
    padding-top: 18px;
    padding-bottom: 22px
}

html[dir=ltr] ._37VJmYfdtY0W1KUmCaJ4B7 {
    border-right: 1px solid var(--neutralLight)
}


._37VJmYfdtY0W1KUmCaJ4B7::-webkit-scrollbar-thumb:horizontal {
    min-width: 50px
}

._37VJmYfdtY0W1KUmCaJ4B7 .tnyjX0GaSq6gWeaCfTelf {
    min-height: 36px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    cursor: pointer
}

html[dir] ._37VJmYfdtY0W1KUmCaJ4B7 .tnyjX0GaSq6gWeaCfTelf {
    background: 0 0
}

html[dir=ltr] ._37VJmYfdtY0W1KUmCaJ4B7 .tnyjX0GaSq6gWeaCfTelf {
    padding-left: 20px;
    padding-right: 20px
}

html[dir] ._37VJmYfdtY0W1KUmCaJ4B7 .tnyjX0GaSq6gWeaCfTelf:hover {
    background-color: var(--neutralLight)
}

._37VJmYfdtY0W1KUmCaJ4B7 .tnyjX0GaSq6gWeaCfTelf._2hieFPstnwjwPxILD8tvU1, ._37VJmYfdtY0W1KUmCaJ4B7 .tnyjX0GaSq6gWeaCfTelf:active {
    color: var(--themeDark);
    font-weight: 600
}

html[dir] ._37VJmYfdtY0W1KUmCaJ4B7 .tnyjX0GaSq6gWeaCfTelf._2hieFPstnwjwPxILD8tvU1, html[dir] ._37VJmYfdtY0W1KUmCaJ4B7 .tnyjX0GaSq6gWeaCfTelf:active {
    background-color: var(--themeLight)
}

html[dir] ._37VJmYfdtY0W1KUmCaJ4B7 .tnyjX0GaSq6gWeaCfTelf ._5dYEN_GmvwnT-_Gn71BMV {
    margin: 8px 0
}

._37VJmYfdtY0W1KUmCaJ4B7 .tnyjX0GaSq6gWeaCfTelf ._5dYEN_GmvwnT-_Gn71BMV ._3z7HEN_Hpol_yK15-3WZPy {
    line-height: 1
}

html[dir=ltr] ._37VJmYfdtY0W1KUmCaJ4B7 .tnyjX0GaSq6gWeaCfTelf ._5dYEN_GmvwnT-_Gn71BMV ._3z7HEN_Hpol_yK15-3WZPy {
    text-align: left
}

._3S2EUMLYRrJgMrT5t_51Fm {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 100%;
    width: calc(90vw - 420px);
    max-width: 860px;
    min-width: 560px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

    ._3S2EUMLYRrJgMrT5t_51Fm, ._3S2EUMLYRrJgMrT5t_51Fm ._2u02PxPkjCZlgtNzKwvhpI {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

        ._3S2EUMLYRrJgMrT5t_51Fm ._2u02PxPkjCZlgtNzKwvhpI {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 auto;
            flex: 0 0 auto;
            height: 63px;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            width: calc(100% - 32px);
            -webkit-box-sizing: border-box;
            box-sizing: border-box
        }

html[dir] ._3S2EUMLYRrJgMrT5t_51Fm ._2u02PxPkjCZlgtNzKwvhpI {
    border-bottom: 1px solid var(--neutralLight)
}

html[dir=ltr] ._3S2EUMLYRrJgMrT5t_51Fm ._2u02PxPkjCZlgtNzKwvhpI {
    margin-left: 32px;
    padding-right: 21px
}

._3S2EUMLYRrJgMrT5t_51Fm ._2u02PxPkjCZlgtNzKwvhpI ._3VwQJywParnRDqCwLYlbFk {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    font-size: 21px;
    font-weight: 100;
    font-weight: 600
}

._3S2EUMLYRrJgMrT5t_51Fm ._2u02PxPkjCZlgtNzKwvhpI ._3oZqTp-_KVKMmlihkhc7a8 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

html[dir=ltr] ._3S2EUMLYRrJgMrT5t_51Fm ._2u02PxPkjCZlgtNzKwvhpI ._3oZqTp-_KVKMmlihkhc7a8 > * {
    margin-left: 16px
}

._3S2EUMLYRrJgMrT5t_51Fm ._2je07ym3e6JoYVb6ifoyOF {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 100%;
    max-width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-color: var(--neutralTertiaryAlt) transparent;
    scrollbar-width: thin
}


    ._3S2EUMLYRrJgMrT5t_51Fm ._2je07ym3e6JoYVb6ifoyOF::-webkit-scrollbar:disabled {
        display: none
    }

    ._3S2EUMLYRrJgMrT5t_51Fm ._2je07ym3e6JoYVb6ifoyOF::-webkit-scrollbar-button, ._3S2EUMLYRrJgMrT5t_51Fm ._2je07ym3e6JoYVb6ifoyOF::-webkit-scrollbar-corner {
        cursor: pointer
    }

html[dir] ._3S2EUMLYRrJgMrT5t_51Fm ._2je07ym3e6JoYVb6ifoyOF::-webkit-scrollbar-button, html[dir] ._3S2EUMLYRrJgMrT5t_51Fm ._2je07ym3e6JoYVb6ifoyOF::-webkit-scrollbar-corner {
    background: 0 0
}

._3S2EUMLYRrJgMrT5t_51Fm ._2je07ym3e6JoYVb6ifoyOF::-webkit-scrollbar-button:horizontal:decrement, ._3S2EUMLYRrJgMrT5t_51Fm ._2je07ym3e6JoYVb6ifoyOF::-webkit-scrollbar-button:horizontal:decrement:hover, ._3S2EUMLYRrJgMrT5t_51Fm ._2je07ym3e6JoYVb6ifoyOF::-webkit-scrollbar-button:horizontal:increment, ._3S2EUMLYRrJgMrT5t_51Fm ._2je07ym3e6JoYVb6ifoyOF::-webkit-scrollbar-button:horizontal:increment:hover, ._3S2EUMLYRrJgMrT5t_51Fm ._2je07ym3e6JoYVb6ifoyOF::-webkit-scrollbar-button:vertical:decrement, ._3S2EUMLYRrJgMrT5t_51Fm ._2je07ym3e6JoYVb6ifoyOF::-webkit-scrollbar-button:vertical:decrement:hover, ._3S2EUMLYRrJgMrT5t_51Fm ._2je07ym3e6JoYVb6ifoyOF::-webkit-scrollbar-button:vertical:increment, ._3S2EUMLYRrJgMrT5t_51Fm ._2je07ym3e6JoYVb6ifoyOF::-webkit-scrollbar-button:vertical:increment:hover {
    height: 18px;
    width: 18px
}

html[dir] ._3S2EUMLYRrJgMrT5t_51Fm ._2je07ym3e6JoYVb6ifoyOF::-webkit-scrollbar-button:horizontal:decrement, html[dir] ._3S2EUMLYRrJgMrT5t_51Fm ._2je07ym3e6JoYVb6ifoyOF::-webkit-scrollbar-button:horizontal:decrement:hover, html[dir] ._3S2EUMLYRrJgMrT5t_51Fm ._2je07ym3e6JoYVb6ifoyOF::-webkit-scrollbar-button:horizontal:increment, html[dir] ._3S2EUMLYRrJgMrT5t_51Fm ._2je07ym3e6JoYVb6ifoyOF::-webkit-scrollbar-button:horizontal:increment:hover, html[dir] ._3S2EUMLYRrJgMrT5t_51Fm ._2je07ym3e6JoYVb6ifoyOF::-webkit-scrollbar-button:vertical:decrement, html[dir] ._3S2EUMLYRrJgMrT5t_51Fm ._2je07ym3e6JoYVb6ifoyOF::-webkit-scrollbar-button:vertical:decrement:hover, html[dir] ._3S2EUMLYRrJgMrT5t_51Fm ._2je07ym3e6JoYVb6ifoyOF::-webkit-scrollbar-button:vertical:increment, html[dir] ._3S2EUMLYRrJgMrT5t_51Fm ._2je07ym3e6JoYVb6ifoyOF::-webkit-scrollbar-button:vertical:increment:hover {
    background-position: 50%
}

html[dir] ._3S2EUMLYRrJgMrT5t_51Fm ._2je07ym3e6JoYVb6ifoyOF::-webkit-scrollbar-track {
    background: 0 0
}

html[dir] ._3S2EUMLYRrJgMrT5t_51Fm ._2je07ym3e6JoYVb6ifoyOF::-webkit-scrollbar-thumb, html[dir] ._3S2EUMLYRrJgMrT5t_51Fm ._2je07ym3e6JoYVb6ifoyOF::-webkit-scrollbar-thumb:hover {
    border-radius: 9px;
    border: solid 6px transparent;
    background-clip: content-box
}

html[dir] ._3S2EUMLYRrJgMrT5t_51Fm ._2je07ym3e6JoYVb6ifoyOF::-webkit-scrollbar-thumb {
    background-color: var(--neutralTertiaryAlt)
}

    html[dir] ._3S2EUMLYRrJgMrT5t_51Fm ._2je07ym3e6JoYVb6ifoyOF::-webkit-scrollbar-thumb:hover {
        background-color: #98a3a6
    }

._3S2EUMLYRrJgMrT5t_51Fm ._2je07ym3e6JoYVb6ifoyOF::-webkit-scrollbar-thumb:vertical {
    min-height: 50px
}

._3S2EUMLYRrJgMrT5t_51Fm ._2je07ym3e6JoYVb6ifoyOF::-webkit-scrollbar-thumb:horizontal {
    min-width: 50px
}

html[dir] .zfV_wfjFiFGODyDPrkn2F {
    border-top: 1px solid var(--neutralLighter)
}

._15fH_WXFSMGTFOFcQUTF6l {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

html[dir=ltr] ._15fH_WXFSMGTFOFcQUTF6l {
    padding-left: 10px
}

._3ekKp2cTaDMtcGeff8YMWr {
    cursor: pointer;
    color: var(--neutralSecondary)
}

._3CsnHdATuGPc808QXjqm8k {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    overflow: hidden;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

._3HDDBT2VLCsC5LkJhBHfF0 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.zfV_wfjFiFGODyDPrkn2F {
    height: 32px
}

html[dir=ltr] ._3Clwq324E3ryGVD4JxExXl {
    margin-right: 4px
}

._16q1Exy03AsiuHd03JOLOv {
    color: var(--themePrimary)
}

html[dir=ltr] ._16q1Exy03AsiuHd03JOLOv {
    padding-left: 0
}

._3DoAvYufMdRGoeHqJ8JvdH {
    font-size: 12px
}

html[dir] ._3DoAvYufMdRGoeHqJ8JvdH {
    margin-top: 2px
}


.root-345 {
    font-family: "Segoe UI","Segoe UI Web (West European)","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: 400;
    background-color: transparent;
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    pointer-events: auto;
    transition: opacity 267ms ease 0s
}

.root-414 {
    font-family: "Segoe UI","Segoe UI Web (West European)","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: 400;
    background-color: var(--blackTranslucent40);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute
}

.main-412 {
    box-shadow: rgba(0,0,0,.22) 0 25.6px 57.6px 0,rgba(0,0,0,.18) 0 4.8px 14.4px 0;
    background-color: #fff;
    box-sizing: border-box;
    position: relative;
    text-align: left;
    max-height: 100%;
    overflow-y: auto;
    animation-name: css-0,css-11;
    animation-duration: 367ms;
    animation-timing-function: cubic-bezier(.1,.9,.2,1);
    animation-fill-mode: both;
    border-radius: 2px;
    outline: transparent solid 3px
}

.root-345 {
    font-family: "Segoe UI","Segoe UI Web (West European)","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: 400;
    background-color: transparent;
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    pointer-events: auto;
    transition: opacity 267ms ease 0s
}

.main-412 {
    box-shadow: rgba(0,0,0,.22) 0 25.6px 57.6px 0,rgba(0,0,0,.18) 0 4.8px 14.4px 0;
    background-color: #fff;
    box-sizing: border-box;
    position: relative;
    text-align: left;
    max-height: 100%;
    overflow-y: auto;
    animation-name: css-0,css-11;
    animation-duration: 367ms;
    animation-timing-function: cubic-bezier(.1,.9,.2,1);
    animation-fill-mode: both;
    border-radius: 2px;
    outline: transparent solid 3px
}

.scrollableContent-413 {
    overflow-y: auto;
    flex-grow: 1;
    max-height: 100vh
}

.bfmOrcHQ8InJjhHaidhb- {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    height: 90vh;
    width: 90vw;
    max-width: 1280px;
    min-width: 980px;
    overflow-x: hidden
}

._2MIkiznpJrB4R_NVpX10RE {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 220px;
    height: 100%;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-color: var(--neutralTertiaryAlt) transparent;
    scrollbar-width: thin
}

._37VJmYfdtY0W1KUmCaJ4B7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 200px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    text-overflow: ellipsis;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-color: var(--neutralTertiaryAlt) transparent;
    scrollbar-width: thin
}

._3S2EUMLYRrJgMrT5t_51Fm {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 100%;
    width: calc(90vw - 420px);
    max-width: 860px;
    min-width: 560px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.root-415 {
    font-family: "Segoe UI","Segoe UI Web (West European)","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: 400;
    box-shadow: none;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 1px;
    padding-right: 0;
    padding-bottom: 1px;
    padding-left: 4px;
    box-sizing: border-box;
    color: var(--neutralPrimary);
    background-color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    height: 32px;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #8a8886;
    border-image: initial
}

.iconContainer-416 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    font-size: 16px;
    width: 32px;
    text-align: center;
    color: var(--themePrimary);
    cursor: text;
    transition: width 167ms ease 0s
}

.field-408 {
    box-shadow: none;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: .5px;
    padding-left: 0;
    box-sizing: border-box;
    background-color: transparent;
    font-weight: inherit;
    font-family: inherit;
    font-size: inherit;
    color: var(--neutralPrimary);
    min-width: 0;
    text-overflow: ellipsis;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    outline: 0;
    flex: 1 1 0px;
    overflow: hidden
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: #fff;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0;
    font: 400 13.3333px Arial;
    padding: 1px 0;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial
}

.icon-418 {
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 400;
    speak: none;
    font-family: controlIcons;
    opacity: 1;
    transition: opacity 167ms ease 0s
}

._2MIkiznpJrB4R_NVpX10RE ._3vq4lJQg9EQ9QnW_2iLCJo {
    height: 36px;
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    cursor: pointer
}



.flexContainer-54 {
    display: flex;
    height: 100%;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center
}

.icon-58 {
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 400;
    speak: none;
    font-family: controlIcons;
    font-size: 16px;
    margin-top: 0;
    margin-right: 4px;
    margin-bottom: 0;
    margin-left: 4px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
    flex-shrink: 0;
    color: var(--themeDarkAlt)
}

.label-48 {
    margin-top: 0;
    margin-right: 4px;
    margin-bottom: 0;
    margin-left: 4px;
    line-height: 100%
}

@font-face {
    font-family: controlIcons;
    src: url(controlIcons.woff) format('woff');
    font-weight: 400;
    font-style: normal
}

.icon-58 {
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 400;
    speak: none;
    font-family: controlIcons;
    font-size: 16px;
    margin-top: 0;
    margin-right: 4px;
    margin-bottom: 0;
    margin-left: 4px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
    flex-shrink: 0;
    color: var(--themeDarkAlt)
}

.root-43 {
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 400;
    speak: none;
    font-family: controlIcons
}

.icon-52 {
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 400;
    speak: none;
    font-family: controlIcons;
    font-size: 16px;
    margin-top: 0;
    margin-right: 4px;
    margin-bottom: 0;
    margin-left: 4px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
    flex-shrink: 0
}

 
