
.randetay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1039;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.4s;
    padding-top:0px;
} 
#randevudetaylari{
      display:block; 
}
#randevuolustur{
      display:block; 
}

.randetay {
    display:block;
    margin-top:0px;
     text-decoration: none;
     display: block;
    cursor:pointer;
 }

 .randevubaslik{


     font-weight:600;
 }

 .randetaykapat{
     background-image: url(../title.jpg); 
     padding: 30px; 
     color: #fff

 }
.randetay .randetaykapat {
 
           text-decoration:none !important;
}

@media screen and (max-height: 450px) {
  .randetay {padding-top: 0px;}
  .randetay a {font-size: 18px;}
}