@font-face {
    font-family: yandex-sans;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    src: url(//yastatic.net/islands/_/UWnXr04FRLPjh1_U16RDnrTPgI.woff2) format("woff2"),url(//yastatic.net/islands/_/F0yMAikMvLZU-ZA8--49rjMywAM.woff) format("woff")
}

@font-face {
    font-family: yandex-sans;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url(//yastatic.net/islands/_/GituScM_-4N6G_NbkNFGl3QuY1k.woff2) format("woff2"),url(//yastatic.net/islands/_/pTlXL9UR9mDEGvGf8tMPbjLky1A.woff) format("woff")
}

@font-face {
    font-family: yandex-sans;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url(//yastatic.net/islands/_/GEumJGdz6PuI2jZ6GhSq0paPvho.woff2) format("woff2"),url(//yastatic.net/islands/_/6ht3TWbVtHpfxwRbEdAXAbwRBBk.woff) format("woff")
}

@font-face {
    font-family: yandex-sans;
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url(//yastatic.net/islands/_/jyjCN4zgI57UwoJpEmCnznrQydw.woff2) format("woff2"),url(//yastatic.net/islands/_/Kvkm8LWYsAo1I5VXauiNHGR8_RI.woff) format("woff")
}

@font-face {
    font-family: yandex-sans;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    src: url(//yastatic.net/islands/_/yboQWNa1IJ-YFCgYbNWuynXTQcY.woff2) format("woff2"),url(//yastatic.net/islands/_/g0MeJlAWVRZjlLOLzhOGwwDQzKY.woff) format("woff")
}

@font-face {
    font-family: yandex-sans;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url(//yastatic.net/islands/_/cXX7mP_o-5hg5efoMGpgrVrpE1Y.woff2) format("woff2"),url(//yastatic.net/islands/_/ywdtNA7T1EHnsMdKR4LaCjRP920.woff) format("woff")
}

body, html {
    min-height: 100vh
}

body {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-grow: 1;
    flex-grow: 1
}

body {
    font: .9376em/1.4667em yandex-sans,Arial,sans-serif;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    background: #fff
}

@supports (-webkit-filter:brightness(90%)) or (filter:brightness(90%)) {
}

.button2_size_s {
    height: 28px;
    font-size: 13px;
    line-height: 28px
}

    .button2_size_s .button2__icon {
        width: 28px
    }

.button2_theme_clear {
    position: relative;
    z-index: 0;
    color: #000;
    border: none;
    outline: 0
}

.button2_view_classic.button2_theme_clear:before {
    border-radius: 3px
}

.button2_theme_clear .button2__icon {
    opacity: .3
}

.button2_view_classic.button2_theme_clear:before {
    -webkit-transition: background-color .1s ease-out;
    transition: background-color .1s ease-out
}

.button2_theme_clear .button2__icon {
    -webkit-transition: opacity .1s ease-out;
    transition: opacity .1s ease-out
}

.button2_size_n {
    height: 36px;
    font-size: 13px;
    line-height: 36px
}

    .button2_size_n .button2__text {
        margin: 0 20px
    }

    .button2_size_n .button2__icon {
        width: 36px
    }

    .button2_size_n .button2__icon_side_left ~ .button2__text {
        margin-left: 33px
    }

.button2_view_default {
    -webkit-transition: color .15s linear,-webkit-transform .1s ease-out;
    transition: color .15s linear,-webkit-transform .1s ease-out;
    transition: transform .1s ease-out,color .15s linear;
    transition: transform .1s ease-out,color .15s linear,-webkit-transform .1s ease-out;
    -webkit-transform: scale(1);
    transform: scale(1)
}

    .button2_view_default:before {
        border-radius: 4px;
        -webkit-transition: background-color .15s linear,opacity .15s linear;
        transition: background-color .15s linear,opacity .15s linear
    }

.hover-tooltip__tooltip-anchor {
    display: inline-block
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch
}

.modal, .modal__table {
    width: 100%;
    height: 100%
}

.modal__table {
    display: table;
    text-align: center
}

.modal__cell {
    display: table-cell;
    vertical-align: middle
}

.modal__content {
    display: inline-block;
    text-align: left;
    -webkit-transform: translateZ(0)
}

.ufo-icon {
    display: inline-block;
    vertical-align: middle
}

    .ufo-icon.icon:after {
        display: none
    }

    .ufo-icon svg {
        display: block
    }

.button2_theme_clear-inverse {
    position: relative;
    color: #fff;
    border: none;
    outline: 0
}

    .button2_theme_clear-inverse .button2__icon, .button2_theme_clear-inverse .button2__text {
        opacity: .9
    }

.button2_view_default.button2_tone_transparent.button2_theme_normal {
    color: #fff
}

    .button2_view_default.button2_tone_transparent.button2_theme_normal:before {
        background-color: hsla(0,0%,100%,.25)
    }

.button2 .button2__icon.ufo-icon {
    height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center
}

.button2.button2 {
    font-family: yandex-sans,Arial,sans-serif
}

.button2 {
    display: inline-block;
    overflow: visible;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -moz-user-focus: ignore;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    background: 0 0;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation
}

    .button2::-moz-focus-inner {
        padding: 0;
        border: 0
    }

    .button2:before {
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: ""
    }

.button2 {
    cursor: pointer
}

.button2_theme_normal {
    position: relative;
    z-index: 0;
    color: #000;
    border: none;
    outline: 0
}

.button2__text {
    display: inline-block;
    resize: none;
    white-space: nowrap
}

.button2 .button2__icon, .button2__text {
    position: relative;
    pointer-events: none
}

.button2 .button2__icon_side_left {
    position: absolute;
    top: 0;
    left: 0
}

@media screen and (max-width:450px) {
    .resources-info-dropdown__text-wrap {
        display: none
    }
}

.resources-info-dropdown {
    margin-left: -10px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-shrink: 0;
    flex-shrink: 0
}

.resources-info-dropdown__icon-wrap {
    margin-right: 20px
}

.resources-info-dropdown__text-wrap, .resources-info-dropdown__text-wrap .hover-dropdown {
    overflow: hidden
}

    .resources-info-dropdown__text-wrap .hover-dropdown .hover-tooltip__tooltip-anchor {
        display: block;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }

.groupable-buttons {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 36px
}

.groupable-buttons__visible-buttons {
    height: 100%;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    text-align: right;
    width: 1px;
    overflow: hidden
}

.groupable-buttons__visible-button {
    display: inline-block
}

.ufo-resources-action-bar {
    z-index: 50
}

.ufo-resources-action-bar__primary-button.button2 {
    margin-right: 10px
}

.ufo-resources-action-bar .resources-action-bar__side-left {
    overflow: hidden;
    width: 240px
}

@media (max-width:650px) {
    .ufo-resources-action-bar__primary-button_desktop.button2 {
        display: none
    }

    .ufo-resources-action-bar .resources-action-bar__side-left {
        max-width: 240px
    }

    .ufo-resources-action-bar .resources-action-bar__side-right {
        -webkit-justify-content: flex-end;
        justify-content: flex-end
    }

    .ufo-resources-action-bar .groupable-buttons {
        -webkit-flex-grow: 0;
        flex-grow: 0
    }

    .ufo-resources-action-bar .groupable-buttons__visible-buttons {
        -webkit-flex-grow: 0;
        flex-grow: 0;
        width: 1px
    }
}

@media (min-width:650px) {
    .ufo-resources-action-bar__primary-button_mobile.button2 {
        display: none
    }
}

.resources-action-bar {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    font-size: 18px;
    height: 60px;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
    opacity: 0;
    z-index: 50
}

.resources-action-bar_visible {
    opacity: 1
}

.resources-action-bar_delay {
    -webkit-transition-delay: .25s;
    transition-delay: .25s
}

.resources-action-bar_theme_black {
    color: #fff;
    background-color: #222;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.15)
}

.resources-action-bar_fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0
}

.resources-action-bar__body {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    max-width: -webkit-calc(100% - 47px);
    max-width: calc(100% - 47px)
}

.resources-action-bar__close.button2 {
    margin-right: 11px;
    -webkit-flex-grow: 0;
    flex-grow: 0
}

.resources-action-bar__side-left {
    padding: 20px
}

.resources-action-bar__side-right {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-grow: 1;
    flex-grow: 1
}

.modal__content {
    max-height: 100vh;
    overflow-y: auto
}

.modal {
    z-index: 21000
}

.icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50%
}

    .icon:after {
        visibility: hidden;
        content: "\A0"
    }

.dialog__wrap {
    padding: 20px 20px 16px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.2);
    position: relative
}

.dialog__close.button2 {
    position: absolute;
    right: 10px;
    top: 10px
}
